<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static\style.css" />
    <link rel="stylesheet" href="static\Raleway-VariableFont_wght.ttf" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Lorys.fr</title>
  </head>
  <body>
    <header class="raleway-header">
      Lorys Lellouche<br />En formation Développement Web
    </header>
    <div class="raleway-div">
      actuellement en formation autodidacte dans le domaine du Développement
      web, ce site est l'endroit où mes projets seront exposés
    </div>
    <br />
    <br />
    <div class="raleway-div">
      Voici le lien vers mes répertoires github 👉
      <span
        ><a href="https://github.com/idgaram"
          ><img
            src="static\GitHub_Invertocat_Logo.svg"
            alt="logo de github"
            width="30rem"
          />
        </a>
      </span>
    </div>
    <footer>
      <div class="raleway-footer">
        <p>
          contact: &#x2709;
          <a href="mailto:lorys.lellouche@gmail.com"
            >lorys.lellouche@gmail.com</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
